@charset "UTF-8";
body{
	background-color : #F9F3F3;
}
/*헤더 위치
header{
	position: relative;
	width: 100%;
	height: 68px;
	background-color : white;
}
.userIcon{
	box-sizing: border-box;

	position: absolute;
	width: 50px;
	height: 50px;
	left: 14px;
	top: 9px;
	border: 2px solid #F25287;
	border-radius: 50%;
}
.mainLogo{
	position: absolute;
	width: 179px;
	height: 44px;
	left: 45%;
	top: 9px;
}
*/


/*맴버 리스트 위치*/
.member_list{
	position: relative;
	width: 25%;
	height: 500px;
	background: #FFF;
	float : left;
	margin-top : 10px;
}
.member_list_title{
	position: relative;
	width : 100%;
	height:50px;
	border-bottom: 2px solid #F25287;
	background: #FFF;
}
.member_list_title h2 {
	line-height : 50px;
	position : relative;
	text-align : center;
	margin : 0px;
}
.member_list_content{
	position: relative;
	height: 450px;
	background: #FFF;
	overflow-y : scroll;
    overflow-x : hidden;
}
.member_list_content::-webkit-scrollbar{
	width : 10px;
}
.member_list_content::-webkit-scrollbar-thumb {
    background-color: #F25287;
}
.member_list_content::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}
.memberList{
	list-style : None;
	padding-left : 10%;
}
.memberList .member{
	position: relative;
	width: 300px;
	height: 75px;
	border-radius: 45px;
	background: #F9F3F3;
	margin-bottom : 10px;
}
.member .Uimage{
	position : relative;
	width: 75px;
	height: 75px;
	float : left;
}
.member .userProfile{
	position : relative;
	padding : 7.5px;
	width: 60px;
	height: 60px;
	border-radius: 50%;	
}
.member .text{
	height : 75px;
	width : 225px;
	float : left;
}
.text h2{
	position : relative;
	text-align : center;
	width : 160px;
	height : 75px;
	overflow : hidden;
	white-space:nowrap;
	text-overflow : ellipsis;
	margin-left : 10px;
	float : left;
}
.text .hostMark{
	position : relative;
	width : 25px;
	height : 25px;
	float : left;
	top : 22.5px;
}