@charset "UTF-8";

/* body */
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #F9F3F3;
}
input[type="button"] {
    cursor: pointer;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* btns */
#contents_btns, #write_form_btn, #contents_btn, #change_form_btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;	
}
#contents_btns *, 
#write_form_btn *, 
#contents_btn_left *,
#contents_btn_right *,
#change_form_btn * {
	width: 85px;
	height: 35px;
	font-size: 16px;
	border: 2px solid;
	border-radius: 10px;
}