@charset "UTF-8";

/* change_form */
#change_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 30px 30px;
	border: 1px solid #DB9F9F;
}
#change_form_caption {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
#change_form_cancel_btn {
	font-weight: bold;
	color: #F25287;
	background-color: #F9F3F3;
	border-color: #F25287;
}
#change_form_change_btn {
	font-weight: bold;
	color: white;
	background-color: #F25287;
	border-color: #F25287;
}

/* category */
#category_select label {
	font-size: 18px;
}
#category {
	width: 100px;
	height: 30px;
	border: 2px solid #DB9F9F;
	border-radius: 10px;
	outline: none;
	color: #DB9F9F;
	background-color: #F9F3F3;
	font-size: 18px;
}
#category option:hover {
	background-color: #F25287;
}

/* hidden_radio */
#hidden_radio {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 18px;
}
#hidden_radio * {
    margin-left: 20px;
    margin-right: 5px;
    width: 20px;
    height: 20px;

    appearance: none;
    border: max(2px, 0.1em) solid #F25287;
    border-radius: 50%;
    transition: border 0.5s ease-in-out;
}
#hidden_radio *:checked {
    border: 0.4em solid #F25287;
}
#hidden_radio *:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted #F25287;
}
#hidden_radio *:hover {
    box-shadow: 0 0 0 max(2px, 0.2em) #F25287;
    cursor: pointer;
}

/* password */
#change_form_password {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: right;
	margin-top: 20px;
}
#change_form_password input {
	width: 150px;
	height: 30px;
	border: 2px solid #DB9F9F;
	border-radius: 10px;
	outline: none;
	color: #DB9F9F;
	background-color: #F9F3F3;
	font-size: 18px;
	margin-left: 10px;
}

/* title */
#title {
	margin: 20px 0;
	height: 40px;
	border: none;
	border-bottom: 2px solid #F25287;
    outline: none;
    font-size: 30px;
    color: #F25287;
    background-color: #F9F3F3;
}

/* editor */
.ck-editor__editable {
	height: 400px;
}
.ck-content {
	font-size: 14px; 
}