/* footer */
@charset "UTF-8";

/*
  채수원님 footer
  footer {
    width: 100%;
    border-top: 3px solid #F25287;
    padding: 20px 0;
    text-align: center;
    margin-top: 150px; /* 낮추기 위해 margin-top 값 조정 */
}
*/
 
/* footer */
footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin-top: 50px;
	color: #DB9F9F;
}
#footer_left {
	margin-top: 32px;
	margin-right: 25%;
	font-size: 20px;
}
#footer_right {
	margin_left: 25%;
}