/* header */
body {
	margin: 0;
	background-color: #F9F3F3;
}
header {
	width: 100%;
	border-bottom: 3px solid #F25287;
}

/* main_header */
#main_header {
	height: 70px;
}
#user_profile {
	position: absolute;
	top: 12px;
	left: 20px;
	width: 40px;
	height: 40px;
	border: 3px solid #F25287;
	border-radius: 50%;
}
#user_profile:hover {
	transition: 0.5s;
}
#user_profile:active {
	transform: scale(0.9);
}
#main_logo {
	position: absolute;
	top: 8px;
	left: calc(50% - 90px);
	height: 50px;
	width: auto;
}
#search_btn {
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 170px;
	max-height: 40px;
}
.login_btn {
	position: absolute;
	top: 15px;
	right: 20px;
	width: 126px;
	height: 40px;
	font-weight: bold;
	font-size: 20px;
	color: white;
	background-color: #F25287;
	border: 3px solid #F25287;
	border-radius: 35px;
}
.login_btn:hover {
	color: #F25287;
	background-color: white;
	transition: 0.5s;
}
.login_btn:active {
	transform: scale(0.9);
}

/* pop_search */
#pop_search {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
}
#search_form {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 50px;
	border: 2px solid #D8D8D8;
	border-radius: 8px;
}
#search_input {
	width: 90%;
	height: 30px;
	margin-left: 10px;
	font-size: 18px;
	color: #BDBDBD;
	background-color: #F9F3F3;
	border: none;
	outline: none;
}
#search_submit_btn {
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	max-height: 30px;
	opacity: 0.3;
}