@charset "UTF-8";

body{
    background-color: #F9F3F3;
    margin: 0;
}
#back{
	width: 100%;
    height: 500px;
}
#top{
	display: flex;
    justify-content: center;
    align-items: center;
}
#add_btn button{
	position: absolute;
    width: 250px;
    height: 70px;
    background: #F25287;
    border: 0;
    color: white;
    cursor:pointer;
    left:50%;
    transform: translate(-50%, -50%);
}
#null{
	position: absolute;
    width: 250px;
    height: 70px;
    background-color: #F25287;
    border: 0;
    color: white;
    cursor:pointer;
    left:50%;
    top:50%;
    margin-left:15px;
    transform: translate(-50%, -50%);
}

#content{
	display: flex;
  	justify-content: space-between;
  	height:650px;
}
#body{
	top: 50px;
    position: relative
}


#my_page{
	width:25%;
	margin-left:30px;
	border-radius:5px;
}
#schedule{
	background:white;
	width:40%;
	border-radius:5px;
}
#rank{
	margin-right:30px;
	background:white;
	width:25%;
	border-radius:5px;
}
#group{
	height:199px;
	background:white;
	margin-bottom:25px;
}
#schedule .text{
	text-align:center;
	border-bottom: 2px solid #F25287;
	padding-left: 30px;
    padding-bottom: 15px;
}
#my_page .text,#rank .text{
	margin:0;
	padding:15px 0;
	border-bottom: 2px solid #F25287;
}
.group_list,.writing_list,.rank_list,.apply_list{
	border-bottom:2px solid #e3e5e8;
	margin:0;
	padding:10px;
}
.group_list:nth-child(4),.writing_list:nth-child(4),.apply_list:nth-child(4){
	border:0;				
}
#writing{
	background:white;
	height:199px;
	margin-bottom:25px;
}
footer{
	margin-top:50px;
}
#apply{
	background:white;
	height:199px;
}
.more a{
	float:right;
	font-size:20px;
	padding:10px 5px 0 0;
	text-decoration:none;
}
h1{
	color: #F25287;
}
a{
	text-decoration:none;
	color:black;
}
#calendar {
    max-width: 650px;
    margin-left: 55px;
  }
.rank_contents{
	height:63px;
	font-size:16px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    
    
}
.rank_contents * {
	margin:0;
	padding: 10px 10px 0 10px;
}
