@charset "UTF-8";
body{
	background-color : #F9F3F3;
}
@font-face {
    font-family: '코트라';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/*맴버 리스트 위치*/
.member_list{
	position: relative;
	width: 25%;
	height: 500px;
	background: #FFF;
	float : left;
	margin-top : 10px;
}
.member_list_title{
	position: relative;
	width : 100%;
	height:50px;
	border-bottom: 2px solid #F25287;
	background: #FFF;
}
.member_list_title h2 {
	line-height : 50px;
	position : relative;
	text-align : center;
	margin : 0px;
}
.member_list_content{
	position: relative;
	height: 450px;
	background: #FFF;
	overflow-y : scroll;
    overflow-x : hidden;
}
.member_list_content::-webkit-scrollbar{
	width : 10px;
}
.member_list_content::-webkit-scrollbar-thumb {
    background-color: #F25287;
}
.member_list_content::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}

.memberList{
	list-style : None;
	padding-left : 10%;
}
.memberList .member{
	position: relative;
	width: 300px;
	height: 75px;
	border-radius: 45px;
	background: #F9F3F3;
	margin-bottom : 10px;
}
.member .Uimage{
	position : relative;
	width: 75px;
	height: 75px;
	float : left;
}
.member .userProfile{
	position : relative;
	padding : 7.5px;
	width: 60px;
	height: 60px;
	border-radius: 50%;	
}
.member .text{
	height : 75px;
	width : 225px;
	float : left;
}
.text h2{
	position : relative;
	text-align : center;
	width : 160px;
	height : 75px;
	overflow : hidden;
	white-space:nowrap;
	text-overflow : ellipsis;
	margin-left : 10px;
	float : left;
	color : black;
}
.text .hostMark{
	position : relative;
	width : 25px;
	height : 25px;
	float : left;
	top : 22.5px;
}

/*modal 설정*/
.user_modal_bg, .week_modal_bg, .DoIt_modal_bg{
	display : None;
	width : 100%;
	height : 100%;
	position : fixed;
	top : 0px;
	left : 0px;	
	background : rgba(0,0,0,0.3);
	z-index:999;
}
.user_modal, .week_modal, .DoIt_modal{
	display : None;
	position : absolute;
	width : 650px;
	height : 480px;
	top :20%;
	left : 30%;
	z-index:1000;
	
	background:#fff;
	border: 5px solid #F25287;
	border-radius: 10px;
	
}
.week_modal{
	width : 650px;
	height : 300px;
	top : -5px;
	left : -100px;
}
.DoIt_modal{
	width : 800px;
	height : 600px;
	top : 0;
	left :40%;
}
.user_modal_content h1{
	margin : 20px; 
	font-size : 40px; 
	display : inline;
}
.user_modal_content span{
	margin : 25px; 
	color : gray; 
	font-size : 24px;
}

/*하단 상자 위치*/
.meeting_setting{
	position : relative;
	width : 100%;
	height : 1000px;
	margin-top : 20px;
	background : white;
	
}

#section_two {
	
  position : relative;
  left : 25%;
  margin-top : 10px;
  margin-left: 1%;
  width : 74%;
  height:500px;
  background : white;
}

.main_header {
	position : relative;
  	width: 100%;
  	font-size: 30px;
  	font-weight: 600;
  	border-bottom: 2px solid #f25287;
  	height : 50px;
  	line-height : 50px;
  	margin-top : 0;
}

/* ------------ main Right----------------- */

#section_two_right {
	position : absolute;
	background-color: white;
	margin: 0;
	width: 100%;
	height: 430px;
	top : 60px;
	
	display: flex;
	justify-content: space-between;
}

#review_area {
	position : relative;
	width: 85%;
	height: 95%;
	background-color: #f9f3f3;
	margin: 10px;
	border-radius: 15px;
	overflow-y : scroll;
    overflow-x : hidden;
	
}

#review_area::-webkit-scrollbar{
	width : 10px;
}
#review_area::-webkit-scrollbar-thumb {
    background-color: #F25287;
}
#review_area::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}

#review_btn {
  width: 150px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btns, .btns2{
	
  width: 130px;
  height: 50px;

  border-radius: 30px;
  border: 3px solid #f25287;

  background-color: white;
  cursor: pointer;

  font-size: 20px;
  font-weight: 900;
}

#delete_btn {
	position : relative;
  	width: 130px;
 	height: 50px;
	top : 40px;
	
  border-radius: 30px;
  border: 3px solid #f25287;
  background: #f25287;
  color: white;

  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}

.btns:hover, .btns2:hover {
  background-color: #f25287;
  color: white;
  border: 3px solid #b40347;
  filter: drop-shadow(6px 5px 5px white);
  transition: 0.3s;
}

#delete_btn:hover {
  border: 3px solid #b40347;
  filter: drop-shadow(6px 5px 5px white);
  background-color: red;
  transition: 1.5s;
}
/* ------------ main Right END------------- */

#second_section {
	position : relative;
  	margin-top: 10px;

  	width: 100%;
  	height: 900px;

  	background-color: white;
}

#second_btns {
  width: 100%;
  height: 80px;
  background-color: white;
}

#second_btns .btns2{
	position : relative;
	top : 20%;
	margin-left : 10px;
}

.group_info {
	position : relative;
  	width: 95%;
  	height : 750px;
  	margin-left : 2.5%;
  	background : #f9f3f3;

  	display: flex;
  	align-content: center;
  	justify-content: space-between;
}

/* 미팅 일정 */
#chart_area {
  width: 684px;
  height: 680.4px;
  background-color: white;
  margin: 40px;
  
  overflow-y : scroll;
   overflow-x : hidden;
}
#chart_area::-webkit-scrollbar{
	width : 10px;
}
#chart_area::-webkit-scrollbar-thumb {
    background-color: #F25287;
}
#chart_area::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}

#timeTable {
	width: 655.2px;
  	height: 658.8px;
 	margin: 10.8px;
}

#ScheduleSaveBtn, #ScheduleEditBtn{
	position : relative;
  	width: 130px;
 	height: 50px;
 	
 	margin: auto;
 	display : block;
	
  	border-radius: 30px;
  	border: 3px solid #f25287;
  	background: #f25287;
  	color: white;

  	cursor: pointer;
  	font-size: 20px;
  	font-weight: 700;
}

#ScheduleSaveBtn:hover, #ScheduleEditBtn:hover{
	background : white;
	color : black;
	transition: 0.5s;
}

.total_table_left{
	margin-bottom : 5%;
	margin-left : 5%;
	float : left;
	background : white;
	border : 0;
	color : #F25287;
	font-size : 60px;
	cursor : pointer;
}
#time_table_top h2, #time_table_top hr{
	position : relative;
	top : 30px;
}
#total_table_top h2, #total_table_top hr{
	position : relative;
	top : 30px;
}
.total_table_right{
	margin-bottom : 5%;
	margin-right : 5%;
	float : right;
	background : white;
	border : 0;
	color : #F25287;
	font-size : 60px;
	cursor : pointer;
}
.timeTable .tdCol{
	width : 102%;
	height : 20px;
	background : rgba(0,0,0,0);
	margin : auto;
	border : 0px;
	cursor : pointer;
}
#Dday_area {
	position: relative;
  width: 35%;
  height: 658.8px;
  margin: 40px;
  padding-right : 30px;	

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#Dday, #DdayInit{
	position : relative;
  	width: 95%;
  	height: 45%;
  	background-color: white;

  	display: flex;
  	flex-direction: column;
  	align-items: center;
 	 justify-content: space-around;
	border: 2px solid #F25287;
}
#Dday_edit{
	position : relative;
  	width: 95%;
  	height: 45%;
  	background-color: white;
	border: 5px solid #F25287;
}

.editDate{
	position : absolute;
	right : 0px;
	margin : 5px;
	width : 30px;
	height : 30px;
	cursor: pointer;	
}
#Dday_edit .etc{
	position : absolute;
	left : 0px;
	top : -1px;
	width : 108px;
	height : 34.5px;
}
#endEditDate{
	position : absolute;
	right : 5px;
	top : 5px;
	width : 30px;
	height : 30px;
	cursor: pointer;	
}

#Dday span:nth-child(2), #DdayInit span{
	position : relative;
	margin-top : 10px;
	margin-bottom : -10px;
	font-family: "코트라";
  	font-size: 50px;
  	font-weight: 900;
}
#DdayInit span{
	font-family : "KimjungchulGothic-Bold";
  	font-size: 36px;
  	margin : auto;
  	text-align : center;
}

#Dday span:nth-child(3) {
	margin-top : -10px;
	margin-bottom : 10px;
	font-family: "코트라";
  	font-size: 50px;
  	font-weight: 900;
  	color: #f25287;

  	margin: 0;
}

#Dday span:nth-child(4) {
	position : relative;
  	font-size: 20px;
  	font-weight: 600;
  	font-family: "코트라";
  	margin-top : 10px;
	margin-bottom : 0px;
}

#Dday span:nth-child(5) {
	position : relative;
	margin-top : 0px;
	margin-bottom : 20px;
	font-family: "코트라";
  	font-size: 20px;
  	font-weight: 600;
  	color: #A3A3A3;
}

#Dday_edit span{
	position : relative;
	font-size: 35px;
	font-family: "KimjungchulGothic-Bold";
  	font-weight: 700;
	top: 20%;
	left: 40px;
}
#Dday_edit .spanImg{
	position : relative;
	width : 43px;
	height : 44px;
	float : right;
	right : 90px;
	top : 4px;
	cursor : pointer;
}
#finalDate, #finalStartTime, #finalEndTime{
	border : None;
	position : relative;
	background : url(/img/캘린더_버튼.svg) no-repeat;
	background-size: cover;
	background-color : rgba(0,0,0,0);
}
#finalStartTime{
	background : url(/img/시작시간_버튼.svg) no-repeat;
	background-size: cover;
}
#finalEndTime{
	background : url(/img/시작시간_버튼.svg) no-repeat;
	background-size: cover;
}
.week_modal_content span{
	top : 20px;
	position : relative;
	font-weight : 700;
	font-size : 25px;
	margin-left : 20px;
}
#firstDate, #EndDate{
	text-align : center;
	margin : 10px;
	font-family: "Pretendard-Regular";
	font-size : 24px;
	font-weight : bold;
	line-height : 50px;
	border : 2px solid #f25287;
	position : relative;
	background : url(/img/캘린더_버튼.svg) no-repeat;
	background-size: 40px 40px;
	background-position : 385px 5px;
	background-color : #f9f3f3;
	height : 50px;
	width : 430px;
}
#finalDate::-webkit-calendar-picker-indicator,
#finalStartTime::-webkit-calendar-picker-indicator,
#finalEndTime::-webkit-calendar-picker-indicator,
#firstDate::-webkit-calendar-picker-indicator, 
#EndDate::-webkit-calendar-picker-indicator{
	position: absolute;
  	width: 100%;
  	height: 100%;
  	background: transparent;
  	color: transparent;
  	cursor : pointer;
}
#finalDate::before,
#finalStartTime::before,
#finalEndTime::before{
  content: attr(placeholder);
  width: 100%;
  height: 100%;
}
 .submitBtn{
	position : relative;
	width : 100px;
	height : 40px;
	border : None;
	background : #f25287;
	font-size : 20px;
	font-weight : 700;
	color : white;
	margin : auto;
	left : 30%;
	top : 10px;
	cursor : pointer;
}
.week_modal_content  .submitBtn{
	left : 45%;
	top : 40px;
}
#timeTableDateEdit {
  width: 95%;
  height: 50%;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#update_date {
  background-color: #f25287;
  height: 40%;
  width: 90%;
  border-radius: 5px;
}
#updateDateView{
	position : relative;
	background : white;
	height : 90%;
	width : 70%;
	float : left;
	margin : 6px;
	top : 1px;
}
#updateDateView span{
	position : relative;
	width : 100%;
	font-size : 24px;
	font-weight : 700;
	text-align : center;
	display : block;
	margin : 7px;
	margin-left : 5px;
	
}
.updateDateBtn {
	position : absolute;
	border: none;
	background-color: #f25287;
	font-size: 25px;
	font-weight: 700;
	cursor: pointer;
	color : white;
	width: 115px;
	height : 105px;
	left : 100%;
	top : 3px;
}

li {
  list-style: none;
}

#join_area {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50%;
}

#join_area > p {
	font-family: "KimjungchulGothic-Bold";
  font-size: 24px;
  font-weight: 900;
  margin-left : 10px;
  margin-top : 0px;
}
#join_member {
  text-align: left;
  width: 60%;

  font-size: 20px;
  font-weight: 800;
  background-color: #f9f3f3;
  margin-right : 5px;
  
  overflow-y : scroll;
   overflow-x : hidden;
}
#join_member p {
  margin-left : 20px;
}
#join_member::-webkit-scrollbar{
	width : 10px;
}
#join_member::-webkit-scrollbar-thumb {
    background-color: #F25287;
}
#join_member::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}

/*간트 차트*/

#ganttCreate, #ganttFirstEdit, #ganttResult{
	width : 95%;
	height : 90%;
	margin : auto;
	background-color : white;
}
#ganttChart{
	width : 70%;
	height : 70%;
	margin : 5%;
	margin-bottom : 20%;
	float : right;
	overflow-x : scroll;
	overflow-y : scroll;
}
#ganttChart::-webkit-scrollbar{
	width : 12px;
}
#ganttChart::-webkit-scrollbar-thumb {
    background-color: #F25287;
}
#ganttChart::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}
#ganttCreateBtn{
	position : relative;
	width : 300px;
	height : 84px;
	color : white;
	background : #F25287;
	border: solid #F25287;
	display : block;
	margin : auto;
	top : 45%;
	border-radius : 50px;
}
#ganttCreateBtn img{
	position : absolute;
	width : 44px;
	height : 44px;
	left : 20px;
	top : 20px;
	
}
#ganttCreateBtn:hover{
	background : #E53972;
	transition : 0.4s;
}
#ganttCreateBtn:click{
	background : #DF2D68;
}
/*
#ganttResult .loader{
	position : absolute;
	width : 95%;
	height : 90%;
	z-index : 997;
	margin : auto;
	background : white;
}
.loader .loaderIcon{
	position : absolute;
	left: 50%;
    top: 50%;
    z-index : 998;
    width: 150px;
    height: 150px;
    margin : -75px 0 0 -75px;
     border: 16px solid #F25287;
      border-radius: 50%;
      border-top: 16px solid #FF86AE;
       width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
 */
 
 #leftGanttFirstEdit, #GRleft{
 	display : flex; 
 	align-items : center;
 	justify-content: center;
 	flex-direction : column; 
 	width : 40%;
 	height : 100%;
 }
 #GRleft{
 width : 35%;
 }
 #rightGanttFirstEdit, #ganttResultContainer{
 	display : flex; 
 	align-items : center;
 	justify-content: center;
 	flex-direction : column; 
 	width : 60%;
 	height : 100%;
 	
 }
 #ganttResultContainer{
 	width : 65%;
 }
 #DoItChildDate input[type = "date"],
 #leftGanttFirstEdit input[type = "date"]{
	text-align : center;
	margin : 2px;
	font-family: "Pretendard-Regular";
	font-size : 20px;
	font-weight : bold;
	line-height : 40px;
	border : 2px solid #f25287;
	position : relative;
	background : url(/img/캘린더_버튼.svg) no-repeat;
	background-size: 30px 30px;
	background-position : 315px 5px;
	background-color : #f9f3f3;
	height : 40px;
	width : 350px;
 }
 #DoItChildDate input[type = "date"]{
 	background-position : 260px 5px;
 	width : 300px;
 }
 #DoItChildDate input[type = "date"]::-webkit-calendar-picker-indicator,
 #leftGanttFirstEdit input[type = "date"]::-webkit-calendar-picker-indicator{
	position: absolute;
  	width: 100%;
  	height: 100%;
  	background: transparent;
  	color: transparent;
  	cursor : pointer;
}
#leftGanttFirstEdit #GFEDate{
	height : 17%;
}
#DoItContainer, #GRDoItContainer{
	-webkit-user-select:none;
  	-moz-user-select:none;
  	-ms-user-select:none;
 	 user-select:none;
	background : #f9f3f3;
	overflow-y : scroll;
	overflow-x : hidden;
	height : 70%;
	
}
#GRDoItContainer::-webkit-scrollbar,
#DoItContainer::-webkit-scrollbar{
	width : 10px;
}
#GRDoItContainer::-webkit-scrollbar-thumb,
#DoItContainer::-webkit-scrollbar-thumb {
    background-color: #F25287;
    border : 2px solid #D9D9D9;
}
#GRDoItContainer::-webkit-scrollbar-track,
#DoItContainer::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}
#GRDoItContainer ul,
#DoItContainer ul{
	display :flex;
	flex-direction : column;
}
.DoItList, .DoItListItem{
	display : block;
	position : relative;
	width : 100%;
	height : 70px;
	font-size : 24px;
	font-weight : bold;
	line-height : 70px;
	background : white;
	border : 3px solid #f9f3f3;
	
}
.DoItListItem{
	 width : 85%; 
	 float : right;
	 border : 2.5px solid #f9f3f3;
}
.DoItListChild, #DoItListChild{
	position : relative; 
	list-style:none; 
	margin : 0px; 
	padding : 0
}
.DoItCheck{
	display : None;
}
.DoItCheck + label{
	display : inline-block;
	cursor : pointer;
	line-height : 70px;
	width : 30px;
	height : 30px;
	background : url('/img/오른화살표회.svg') 15px 10px no-repeat;
}
.DoItCheck:checked + label{
	background: url('/img/아래화살표핑.svg') 15px 15px no-repeat;
}
.DoItCheck:hover + label{
	background: url('/img/오른화살표핑.svg') 15px 10px no-repeat;
}
.DoItCheck:checked:hover + label{
	background: url('/img/아래화살표핑.svg') 15px 15px no-repeat;
}	
#GRDoItContainer .DoItCheck:checked + label{
	background: url('/img/아래화살표흰.svg') 15px 15px no-repeat;
}
#GRDoItContainer .DoItCheck:hover + label{
	background: url('/img/오른화살표흰.svg') 15px 10px no-repeat;
}
#GRDoItContainer .DoItCheck:checked:hover + label{
	background: url('/img/아래화살표흰.svg') 15px 15px no-repeat;
}	
.DoItCheck3{
	display : None;
}
.DoItCheck3 + label{
	display : inline-block;
	cursor : pointer;
	width : 25px;
	height : 25px;
	margin : auto;
	border : 1px solid #A3A3A3;
	position : relative;
	background : #A3A3A3;
	left :17px;
	top : 22px;
}
.DoItCheck3:checked + label{
	background : #f25287;
	border : 1px solid #f25287;
	color : white;
}
.DoItCheck3:checked + label::after{
	content:'✔';
    font-size: 22px;
    position : absolute;
    width : 25px;
	height : 25px;
    line-height : 25px;
    text-align : center;
    bottom : 2px;
	color : white;
}
.DoItList .DoItListEditBtn, .deleteBtn{
	position : absolute;
	cursor : pointer;
	width : 25px;
	height: 25px;
	right : 50px;
	margin-top : 20px;
}
.deleteBtn{
	font-size : 28px;
	background : None;
	border : None;
	color : #BBBBBB;
	right : 20px;
	top : -8px;
}
.DoItList button:hover{
	color : #f25287;
}
#GFEDoIt, #GRDoIt{
	background : white; 
	width : 80%; 
	height : 70%;
}
#GRDoIt{
	height : 92%;
}
#DoItChildDate input[type = "text"],
#GFEDoIt input[type = "text"]{
	margin : auto;
	border : 3px solid #f25287;
	width : 80%;
	height : 60px;
	font-size : 25px;
	background : white;	
	border-radius : 20px;
}
#DoItChildDate input[type = "text"]{
	margin : 3px;
	width : 80%;
	height : 40px;
	font-size : 18px;
	margin-top : 180px;
}
.newValueBtn{
	border : None;
	background : #f25287; 
	margin : auto; 
	border-radius : 50%;
	width : 60px;
	height : 60px;
	color : white;
	font-size : 30px;
	cursor : pointer;
}
.newValueBtn:hover{
	border : 3px solid #f25287;
	background : white;
	color : #f25287;
	transition : 0.7s;
}
#DoItChildList{
	border : 3px solid #f25287;
	background : #f9f3f3;
	margin : 20px;
	width : 80%;
	height : 420px;
	overflow-y : scroll;
}
#DoItChildList::-webkit-scrollbar{
	width : 15px;
}
#DoItChildList::-webkit-scrollbar-thumb {
    background-color: #F25287;
}
#DoItChildList::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}

#chart_div1_container, #chart_div2_container{
	margin-top : 20px;
	height : 80%;
	width : 95%;
	overflow : scroll;
	border : 3px solid #f25287;
	margin-right : 10px;
}
#chart_div1_container::-webkit-scrollbar{
	width : 15px;
}
#chart_div1_container::-webkit-scrollbar-thumb {
    background-color: #F25287;
    border-radius : 15px;
}
#chart_div1_container::-webkit-scrollbar-track {
    background-color: None;
}
#chart_div2_container::-webkit-scrollbar{
	width : 15px;
}
#chart_div2_container::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius : 15px;
}
#chart_div2_container::-webkit-scrollbar-track{
    background-color: None;
}
#chart_div1, #chart_div2, #chart_div3{
	position : relative;
	top : 10%;
	left : 5%;
	height : 100%;
	width :100%;
	margin : auto;
}
#GFESubmitBtn, #GRubmitBtn{
	display : flex; 
	margin : auto; 
	width : 80%; 
	flex-direction : row;
	justify-content : flex-end;
}

#GRubmitBtn button, #GFESubmitBtn button{
	margin : 10px;
  	width: 130px;
 	height: 50px;

 	display : block;
	
  	border-radius: 30px;
  	border: 3px solid #f25287;
  	background: #f25287;
  	color: white;

  	cursor: pointer;
  	font-size: 20px;
  	font-weight: 700;
}
#GRubmitBtn button:hover, #GFESubmitBtn button:hover{
	background : white;
	color : black;
	transition: 0.5s;
}

/*그룹 상세 설명*/
#group_detail_left{
	display : flex; 
	font-family:'코트라'; 
	color : white; 
	align-items : center; 
	flex-direction : column; 
	justify-content : center; 
	margin : 0;  
	border: 5px solid #F25287; 
	background : #F25287; 
	width : 30%; 
	height : 100%;
}
#group_detail_right{
	display : flex; 
	margin : 0; 
	border: 5px dashed #F25287; 
	flex-direction : column;  
	border-left: 5px solid #F25287;  
	background : white; 
	width : 70%; 
	height : 100%;
}
#group_detail_right p, #group_detail_right h2{
	z-index:1;
	margin-left : 5%;
	width:90%;
	display : inline;
	word-break:break-all;
	text-overflow:clip;
}
#group_detail_right p{
	font-size : 22px;
	font-weight : bold;
	color : #AAAAAA;
}
#group_detail_right span{
	color : #F25287
}
.SubHostBtn{
		position : absolute; 
		height : 40px; 
		width : 140px; 
		right : 10px;
		top : 160px;
		font-size : 20px;
		background : white; 
		color : #f25287; 
		border : 2px solid #f25287;
		border-radius : 20px;
		cursor : pointer;
}
.SubHostBtn:hover{
		background : #f25287; 
		color : white;
		transition : 0.5s; 
}