<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="dto.MeetingDTO" alias="meetingdto"/>
		<typeAlias type="dto.MeetingPagingDTO" alias="meetingpagingdto"/>
		<typeAlias type="dto.UserDTO" alias="userdto"/>
		<typeAlias type="dto.ApplicantDTO" alias="applicantdto"/>
		<typeAlias type="dto.MainDTO" alias="maindto"/>
	</typeAliases>
</configuration>