body {
    display: flex;
    flex-direction: column; /* 본문을 세로 방향으로 배치 */
    justify-content: space-between; /* 본문 내용을 위 아래에 공간을 분배하여 배치 */
    align-items: center;
    min-height: 100vh; /* 최소 높이를 100vh로 설정하여 헤더와 푸터 사이의 공간을 확보 */
    font-family: Arial, sans-serif;
    background-color: #fff; /* 하얀색 배경색 */
}

.container {
    width: 400px; /* 프레임의 너비 조정 */
    background-color: #fff; /* 하얀색 배경색 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto; /* 본문을 수직으로 가운데로 정렬 */
    text-align: center;
}

header {
    margin-bottom: 20px; /* 헤더와 본문 사이 간격 추가 */
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

form div {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
    flex: 1;
    padding: 5px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

#btnEdit {
    margin-right: 10px; /* 수정된 부분: 버튼 왼쪽 마진 추가 */
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #da6a82;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #da6a82;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background-color: #da6a82;
}

input:disabled {
    background-color: #f1f1f1;
    color: #888;
}

.success-message {
    text-align: center;
    padding: 20px;
    background-color: #e6f7ff;
    border: 1px solid #b3e5fc;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}